.idea/
venv/
__pycache__/
.coverage/
.env
client_secret_288731216319-757vmp6qh0qgtccej2mjmevlge6ted4a.apps.googleusercontent.com.json
calendar_db
poetry.lock
test.sh
**/migrations/**.py
!**/migrations/__init__.py
.log
media/
htmlcov/
.pytest_cache/
coverage.xml
.idea/workspace.xml
